{% extends "fsr_licence/layout1.html" %}
{% load static %}

{% block body %}

<section>
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
        <div class="max-w-3xl">
            <h2 class="text-3xl font-bold sm:text-4xl">
            Mot du Doyen
            </h2>
        </div>
    
        <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-72 rounded-xl overflow-hidden sm:h-80 lg:h-full">
                <img
                    alt="Doyen FSR"
                    src="https://www.lopinion.ma/photo/art/grande/73864452-51378492.jpg?v=1688462455"
                    class="absolute inset-0 h-full w-full object-cover"
                />
            </div>
    
            <div class="lg:py-16">
            <article class="space-y-4 text-gray-600">
                <p class="text-justify">
                    Depuis sa création en 1959, la Faculté des Sciences de Rabat, premier
                    établissement universitaire marocain, ne cesse de rayonner en cultivant
                    l’excellence à tous les niveaux. Elle a, durant toute son histoire glorieuse,
                    formé les premiers professeurs chercheurs ainsi qu’une pléthore de
                    cadres et responsables nationaux et internationaux. Ces lauréats ont efficacement 
                    contribué à l’édification du Maroc moderne, celui de l’après indépendance ; aujourd’hui 
                    encore cette faculté poursuit sa noble mission avec une dévotion exemplaire, elle continue à  
                    façonner des compétences nationales de haut niveau, à promouvoir une recherche scientifique de 
                    qualité et à encourager l’innovation technologique au service de l’humanité.
                </p>
    
            </article>
            </div>
        </div>
    </div>

    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 sm:py-4 lg:px-8">
        <div class="max-w-3xl">
          <h2 class="text-3xl font-bold sm:text-4xl">
            Missions
          </h2>
        </div>
    
        <div class="mt-2 grid grid-cols-1 gap-8 lg:grid-cols-1 lg:gap-16">
            <div class="lg:py-4">
                <article class="space-y-4 text-gray-600">
                  <p class="text-justify">
                    La stratégie globale de la Faculté des Sciences de Rabat est axée essentiellement sur la recherche éco-innovatrice. 
                    Sa mise en œuvre nécessite la mobilisation de nouveaux concepts scientifiques et/ou techniques et l’adoption de méthodes 
                    pluridisciplinaires permettant de concilier le progrès économique et social avec la préservation de l'environnement et de la santé.
                  </p>
                  <p class="text-justify">
                    La politique de la recherche au niveau de la Faculté des Sciences de Rabat s’articule autour de quatre axes, à savoir :<br><br>

                    <strong>L’encouragement de la mobilité entrante et sortante</strong><br>
                    A l’instar de toutes les communautés scientifiques, la FSR prône l’ouverture vers d’autres horizons en favorisant les échanges d’informations et d’expériences. Elle s’engage résolument à encourager la mobilité des enseignants chercheurs dans les deux sens : en accueillant d’illustres chercheurs étrangers et en incitant ses propres chercheurs à se ressourcer au-delà des frontières de notre pays et établir de nouveaux liens de coopération dans le domaine de la recherche éco-innovatrice, en particulier.
                    <br>
                    <br>
                    <strong>Les partenariats</strong><br>
                    En matière de stratégie scientifique, les partenariats, véritable coopération agissante, constituent un levier propulseur important, bien ancré et basé sur une gestion saine des moyens fédérés. Tous les projets de recherche nationaux et internationaux en cours sont conclus en partenariat avec des institutions marocaines et étrangères partout dans le monde (Grand Maghreb, pays méditerranéens, pays de l’UE, Amérique du Nord, Amérique du Sud, Pays Arabes, Afrique, Australie...)
                    <br>
                    <br>
                    <strong>La pluridisciplinarité</strong><br>
                    La taille de la Faculté des Sciences de Rabat et la richesse de ses acteurs permettent d’envisager d’une part, la pluridisciplinarité comme vecteur d’actions d’envergure et d’autre part, comme facilitateur de développement de projets interdisciplinaires ambitieux.
                    <br>
                    <br>
                    Pionnière d’exploits scientifiques mémorables, au fil des réformes introduites dans notre système d’enseignement supérieur, la Faculté des Sciences de Rabat dispose d’enseignants-chercheurs possédant des compétences opérationnelles et managériales remarquables leur permettant de se placer au diapason de la recherche scientifique agissante sur des thèmes d’actualité cuisante, en rapport avec la qualité de la vie de l’homme et le respect  de l’environnement.
                  </p>
        
                </article>
            </div>
        </div>
    </div>

    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 sm:py-4 lg:px-8">
        <div class="max-w-3xl">
          <h2 class="text-3xl font-bold sm:text-4xl">
            Organisation Générale
          </h2>
        </div>
    
        <div class="mt-2 grid grid-cols-1 gap-8 lg:grid-cols-1 lg:gap-16">
            <div class="lg:py-4">
                <img class="h-auto max-w-full" src="http://www.fsr.ac.ma/sites/default/files/organigramme_0.jpg" alt="image description">
            </div>
        </div>
    </div>
</section>

{% endblock %}